<style scoped src="./settings.scss" lang="scss"></style>

<template>
  <div id="settings">
      <div class="frame">
        <div class="header">Theme</div>
        <div class="options">
            <div class="option" :class="{'active': isThemeActive('dark')}" @click="selectTheme('dark')">
                <img class="content" src="" alt=""/>
                <div class="title">Dark</div>
            </div>
            <div class="option" :class="{'active': isThemeActive('light')}" @click="selectTheme('light')">
                <img class="content" src="" alt=""/>
                <div class="title">Light</div>
            </div>
        </div>
      </div>
      <div class="frame">
        <div class="header">Language</div>
        <div class="options">
            <div class="option" :class="{'active': is}" @click="selectLanguage('en')">
                <img class="content" src="" alt=""/>
                <div class="title">En</div>
            </div>
            <div class="option" :class="{'active': is}" @click="selectLanguage('ru')">
                <img class="content" src="" alt=""/>
                <div class="title">Ru</div>
            </div>
        </div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Settings extends Vue {

    public selectTheme(type: string) {
        // console.log('selectTheme');
    }

    public isThemeActive(): boolean {
        return true;
    }

    public selectLanguage(type: string) {
        // console.log('selectLanguage');
    }
}
</script>
