@import "~@/styles/colors";

#settings {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
}

.frame {
    padding: 1rem;
    border: 1px solid $black;
    border-radius: 0.3rem;
    position: relative;

    .header {
        position: absolute;
        background-color: white;
        padding: 0 5px;
        top: -10px;
    }

    .options {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, 8rem);

        .option {
            cursor: pointer;
            &.active .content {
                box-shadow: 0px 0px 5px 2px rgba(49, 172, 10, 0.2);
            }
            .content {
                width: 8rem;
                height: 10rem;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
                border-radius: 0.3rem;
            }
            .title { text-align: center; }
        }
    }
}

