.list {
    display: grid;

    .todo {
        position: relative;
        display: grid;
        row-gap: 0.25rem;
        column-gap: 0.25rem;
        grid-template-columns: 3rem auto;
        // background-color: antiquewhite;
        padding: 0.75rem 2rem 0.75rem 0;
        border-bottom: 1px solid gray;

        // &:not(:last-child) { border-bottom: 1px solid gray; }

        .check-wrap {
            grid-row: 1 / 3;
            display: grid;
            justify-content: center;
            align-content: center;

            .checkbox {
                opacity: 0;
                position: absolute;
            }
            .checkbox:checked + .checkmark {
                background-color: #53b8ff;
                border-color: #53b8ff;
            }

            .checkbox:checked + .checkmark:before {
                content: "";
            }

            .checkmark {
                cursor: pointer;
                position: relative;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid gray;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                // transition: .5s;

                &:before {
                    left: 8px;
                    top: 3px;
                    width: 7px;
                    height: 12px;
                    position: absolute;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
        }

        .title {
            font-size: 14pt;
        }

        .descr {
            font-size: 11pt;
            color: gray;
        }

        .remove {
            position: absolute;
            right: 0;
            cursor: pointer;
            padding: 0.75rem;
        }
    }
}