<style scoped src="./list.scss" lang="scss"></style>

<template>
    <div class="list">
        <div class="todo" v-for="(todo, index) in items" :key="index">
            <label class="check-wrap">
                <input class="checkbox" type="checkbox" :checked="todo.done" v-model="todo.done">
                <span class="checkmark"></span>
            </label>
            <div class="title">{{ todo.title }}</div>
            <div class="descr">{{ todo.description }}</div>
            <font-awesome-icon class="remove" icon="times" @click="remove(index)"/>
        </div>

    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import TodoItem from '@/models/todo-item.model';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faTimes } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

library.add(faTimes);

@Component({
  components: { FontAwesomeIcon },
})
export default class List extends Vue {
    @Prop() public items!: TodoItem[];

    @Emit('remove-item')
    public remove(index: number) {
        return index;
    }
}
</script>
