@import "~@/styles/colors.scss";

.new {
    padding: 0.75rem 2rem 0.75rem 0.55rem;
    // border-bottom: 1px solid gray;

    .plus-wrapper {
        display: flex;
        justify-content: center;

        .add-icon {
            padding: 0.5rem;
            cursor: pointer;
            font-size: 17pt;
        }

        &.not-active {
            display: none;
        }
    }

    .inputs {
        display: none;

        &.active {
            display: grid;
            row-gap: 0.5rem;
            grid-template-columns: 2.55rem auto;
            align-items: center;
        }

        .add-btn {
            grid-row: 1 / 3;
            color: $black;
            font-size: 22pt;
            cursor: pointer;
        }

        input {
            font-family: 'Museo Sans';
            border: none;
            border-bottom: 1px solid black;
            padding: 0 0.5rem 0.3rem;
            font-size: 14pt;
            color: $black;
        }

        textarea {
            font-family: 'Museo Sans';
            border: none;
            border-bottom: 1px solid black;
            color: $black;
            font-size: 11pt;
            padding: 0 0.5rem 0.3rem;
            resize: none;
            overflow: hidden;
        }
    }
}


