<style scoped src="./new-item.scss" lang="scss"></style>

<template>
    <div class="new">
        <div class="plus-wrapper" :class="{'not-active': isInputsActive}">
            <font-awesome-icon icon="plus" class="add-icon" @click="showInputs"/>
        </div>
        <div class="inputs" :class="{'active': isInputsActive}">
            <font-awesome-icon icon="plus" class="add-btn" @click="addItem"/>
            <input type="text" placeholder="Title" v-model="title">
            <textarea
                type="text"
                placeholder="Description"
                rows="1"
                ref="textarea"
                maxlength="200"
                v-model="description"
                @input="checkLines"
            ></textarea>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faPlus } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
// @ts-ignore
import autosize from 'autosize';
import TodoItem from '@/models/todo-item.model';

library.add(faPlus);

@Component({
  components: { FontAwesomeIcon },
})
export default class NewItem extends Vue {
    public title: string = '';
    public description: string = '';
    public isInputsActive: boolean = false;
    private lastHeight: number = 0;

    public showInputs() {
        this.isInputsActive = !this.isInputsActive;
    }

    public addItem() {
        if (this.title && this.description) {
            const item: TodoItem = {
            title: this.title,
            description: this.description,
            done: false,
            };
            this.$emit('add-item', item);
        }
        this.resetFields();
    }

    public checkLines() {
        autosize(this.$refs.textarea);
    }

    private resetFields() {
        this.title = '';
        this.description = '';
        this.isInputsActive = false;
    }
}
</script>
