<style scoped src="./home.scss" lang="scss"></style>

<template>
    <div id="home">
        <List :items="todos" @remove-item="remove"></List>
        <NewItem @add-item="addItem"></NewItem>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import List from '@/components/list/list.vue';
import NewItem from '@/components/new-item/new-item.vue';
import TodoItem from '@/models/todo-item.model';
import firebase from 'firebase/app';

@Component({
  components: { List, NewItem },
})
export default class Home extends Vue {
    public todos: TodoItem[] = [];

    public created() {
        this.todos = [
            {
                title: 'test 1',
                description: 'yuytuytu',
                done: true,
            },
            {
                title: 'test 2',
                description: 'uiou',
                done: false,
            },
            {
                title: 'test 3',
                description: 'gfdhg gfhgfrt',
                done: true,
            },
        ];
    }

    public remove(index: number) {
        // this.todos = this.todos.filter((t, i)  => i !== index);
        this.todos.splice(index, 1);
    }

    public addItem(item: TodoItem) {
        this.todos.push(item);
    }
}
</script>
