<style src="./app.scss" lang="scss"></style>

<template>
  <div id="app">
    <Nav></Nav>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Nav from '@/components/nav/nav.vue';

@Component({
  components: { Nav },
})
export default class App extends Vue {}
</script>

