#app {
    font-family: 'Museo Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    background-color: #fdfdfd;
    max-width: 45rem;
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 0.3rem;
}

#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: $black;
    }
}