<style scoped src="./login.scss" lang="scss"></style>

<template>
    <div id="login">
        <input type="text" placeholder="Email" v-model="email">
        <input type="password" placeholder="Password" v-model="password">
        <button @click="signIn">Go</button>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase/app';
import 'firebase/auth';

@Component({
  components: {},
})
export default class Login extends Vue {
    public email: string = '';
    public password: string = '';

    public signIn() {
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
            .then(({user}) => {
                // console.log('TCL: Login -> signIn -> res', user!.providerData[0]);
            });
    }
}
</script>
