<style scoped src="./nav.scss" lang="scss"></style>

<template>
    <div class="nav">
        <div class="title">TODO List</div>
        <div class="link">
            <template v-if="!isHomeRoute">
                <font-awesome-icon icon="sign-out-alt"/>
                <router-link to="/">home</router-link>
            </template>
            <template v-else>
                <font-awesome-icon icon="sign-in-alt"/>
                <router-link to="/settings">settings</router-link>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faSignInAlt } from '@fortawesome/free-solid-svg-icons';
import { faSignOutAlt } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

library.add(faSignInAlt, faSignOutAlt);

@Component({
  components: { FontAwesomeIcon },
})
export default class Nav extends Vue {

    get isHomeRoute() {
        return this.$route.path === '/';
    }
}
</script>
