.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.25rem;
    border-bottom: 1px solid black;

    .title {
        font-size: 24pt;
        font-weight: 500;
    }

    .link {
        font-size: 15pt;
        font-weight: 300;
        cursor: pointer;

        a {
            margin-left: 0.75rem;
            text-decoration: none;
            color: inherit;
            transition: .2s;
            &:hover { margin-left: 0.5rem; }
        }
    }
}